html {
  color: #fff;
  font-family: Merriweather, serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.head {
  background-color: #d05c2e;
  font-weight: bold;
  padding: .7rem;
}

.col li {
  background-color: #d05c2e;
  border: 1px solid #a63f38;
  font-size: 1.125rem;
  float: left;
  width: 33.32%;
  text-align: center;
  padding: .3rem;
  list-style: none;
}

.col li:hover {
  background-color: #a63f38;
}

ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.img1 {
  float: left;
  width: 40px;
}

.img2 {
  float: right;
  width: 40px;
}
