html {
  color: #fff;
  font-family: "Merriweather", serif;;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.head {
  background-color: #d05c2e;
  font-weight: 700;
}
